.button {
  border: none;
  background-color: #f4f5f9;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover,
  &:active {
    background-color: #ffffff;
  }
}

.icon {
  display: block;
}

.left {
  .icon {
    transform: rotate(0deg);
  }
}

.right {
  .icon {
    transform: rotate(180deg);
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;

  &:hover,
  &:active {
    background-color: #f4f5f9;
  }
}
